<div ng-controller="UserController as ctrl">
    <div ng-if="ctrl.userType == 'admin'">
        <table class="table table-bordered table-hover">
            <thead>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in ctrl.users">
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="ctrl.userType == 'user'">
        <form name="editForm" ng-submit="editForm.$valid && ctrl.edit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': editForm.username.$invalid}" id="username" name="username"
                    aria-describedby="username" placeholder="username" ng-model="ctrl.editUser.username" ng-required="true">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" ng-class="{'is-invalid': editForm.password.$invalid}" id="password" name="password"
                    aria-describedby="password" placeholder="password" ng-model="ctrl.editUser.password" ng-required="true">
            </div>
            <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': editForm.firstname.$invalid}" id="firstname" name="firstname"
                    aria-describedby="firstname" placeholder="firstname" ng-model="ctrl.editUser.firstname" ng-required="true">
            </div>
            <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': editForm.lastname.$invalid}" id="lastname" name="lastname"
                    aria-describedby="lastname" placeholder="lastname" ng-model="ctrl.editUser.lastname" ng-required="true">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" ng-disabled="editForm.$invalid" value="Edit">
            </div>
        </form>
    </div>
</div>