<div ng-controller="RegisterController as ctrl">
    <form name="registerForm" ng-submit="registerForm.$valid && ctrl.add()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ng-class="{'is-invalid': registerForm.username.$invalid}" id="username" name="username"
                aria-describedby="username" placeholder="username" ng-model="ctrl.newUser.username" ng-required="true">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" ng-class="{'is-invalid': registerForm.password.$invalid}" id="password" name="password"
                aria-describedby="password" placeholder="password" ng-model="ctrl.newUser.password" ng-required="true">
        </div>
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" ng-class="{'is-invalid': registerForm.firstname.$invalid}" id="firstname" name="firstname"
                aria-describedby="firstname" placeholder="firstname" ng-model="ctrl.newUser.firstname" ng-required="true">
        </div>
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" ng-class="{'is-invalid': registerForm.lastname.$invalid}" id="lastname" name="lastname"
                aria-describedby="lastname" placeholder="lastname" ng-model="ctrl.newUser.lastname" ng-required="true">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" ng-disabled="registerForm.$invalid" value="Register">
        </div>
    </form>
</div>