<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>Naslovna</title>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="js/jquery/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/angularjs/angular-ui-router.min.js"></script>
</head>

<body ng-app="app"  ng-controller="LoginController as ctrl">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Prikaži/sakrij meni">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-if="!ctrl.userType">
                    <a class="nav-link" href="/#!/login">Login</a>
                </li>
                <li class="nav-item" ng-if="!ctrl.userType">
                    <a class="nav-link" href="/#!/register">Registracija</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#!/event">Dogadjaji</a>
                </li>
                <li class="nav-item" ng-if="ctrl.userType">
                    <a class="nav-link" href="/#!/ticket">Karte</a>
                </li>
                <li class="nav-item" ng-if="ctrl.userType == 'user'">
                    <a class="nav-link" href="/#!/user">Profil</a>
                </li>
                <li class="nav-item" ng-if="ctrl.userType == 'admin'">
                    <a class="nav-link" href="/#!/user">Korisnici</a>
                </li>
                <li class="nav-item" ng-if="ctrl.userType">
                    <a class="nav-link" href="/" ng-click="ctrl.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div>
            <div ui-view></div>
        </div>
    </div>

    
    <script src="app/app.js"></script>
    <script src="app/login/login.js"></script>
    <script src="app/register/register.js"></script>
    <script src="app/admin/admin.js"></script>
    <script src="app/user/user.js"></script>
    <script src="app/event/event.js"></script>
    <script src="app/ticket/ticket.js"></script>
</body>

</html>