<div ng-controller = "TicketController as ctrl">
    <table class="table table-bordered table-hover">
        <thead>
            <th>Id</th>
            <th>Description</th>
            <th>Price</th>
            <th>Event</th>
            <th>User</th>
        </thead>
        <tbody>
            <tr ng-repeat="ticket in ctrl.tickets">
                <td>{{ticket.idticket}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.price}}</td>
                <td>{{ticket.event_id}}</td>
                <td>{{ticket.user_id}}</td>
            </tr>
        </tbody>
    </table>
</div>