<div ng-controller = "LoginController as ctrl">
    <form name="loginForm" ng-submit="loginForm.$valid && ctrl.login()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ng-class="{'is-invalid': loginForm.username.$invalid}" id="username" name="username"
                aria-describedby="username" placeholder="username" ng-model="ctrl.loginUser.username" ng-required="true">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" ng-class="{'is-invalid': loginForm.password.$invalid}" id="password" name="password"
                aria-describedby="password" placeholder="password" ng-model="ctrl.loginUser.password" ng-required="true">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid" value="Login">
        </div>
    </form>
</div>