<div ng-controller = "EventController as ctrl">
    <div ng-if="!ctrl.editEventInProgress">
        <table class="table table-bordered table-hover">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
                <th>City</th>
            </thead>
            <tbody>
                <tr ng-repeat="event in ctrl.events">
                    <td>{{event.id}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.date}}</td>
                    <td>{{event.city}}</td>
                    <td ng-if="ctrl.userType == 'admin'">
                        <button class="btn btn-primary" ng-click="ctrl.prepForEdit(event)">Izmeni</button>
                        <button class="btn btn-danger" ng-click="ctrl.delete(event.id)">Izbrisi</button>
                    </td>
                    <td ng-if="ctrl.userType == 'user'">
                        <button class="btn btn-primary" ng-click="ctrl.buyTicket(event)">Kupi Kartu</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form ng-if="ctrl.userType == 'admin'" name="addEventForm" ng-submit="addEventForm.$valid && ctrl.add()">
            <div class="form-group">
                <label for="name">Ime</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': addEventForm.name.$invalid}" id="name" name="name"
                    aria-describedby="name" placeholder="name" ng-model="ctrl.newEvent.name" ng-required="true">
            </div>
            <div class="form-group">
                <label for="description">Opis</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': addEventForm.description.$invalid}" id="description" name="description"
                    aria-describedby="description" placeholder="description" ng-model="ctrl.newEvent.description" ng-required="true">
            </div>
            <div class="form-group">
                <label for="location">Lokacija</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': addEventForm.location.$invalid}" id="location" name="location"
                    aria-describedby="location" placeholder="location" ng-model="ctrl.newEvent.location" ng-required="true">
            </div>
            <div class="form-group">
                <label for="city">Grad</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': addEventForm.city.$invalid}" id="city" name="city"
                    aria-describedby="city" placeholder="city" ng-model="ctrl.newEvent.city" ng-required="true">
            </div>
            <div class="form-group">
                <label for="date">Datum</label>
                <input type="date" class="form-control" ng-class="{'is-invalid': addEventForm.date.$invalid}" id="date" name="date"
                    aria-describedby="date" placeholder="date" ng-model="ctrl.newEvent.date" ng-required="true">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" ng-disabled="addEventForm.$invalid" value="Dodaj">
            </div>
        </form>
    </div>
    <div ng-if="ctrl.editEventInProgress">
        <form name="editEventForm" ng-submit="editEventForm.$valid && ctrl.edit()">
            <div class="form-group">
                <label for="name">Ime</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': editEventForm.name.$invalid}" id="name" name="name"
                    aria-describedby="name" placeholder="name" ng-model="ctrl.editEvent.name" ng-required="true">
            </div>
            <div class="form-group">
                <label for="description">Opis</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': editEventForm.description.$invalid}" id="description" name="description"
                    aria-describedby="description" placeholder="description" ng-model="ctrl.editEvent.description" ng-required="true">
            </div>
            <div class="form-group">
                <label for="location">Lokacija</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': editEventForm.location.$invalid}" id="location" name="location"
                    aria-describedby="location" placeholder="location" ng-model="ctrl.editEvent.location" ng-required="true">
            </div>
            <div class="form-group">
                <label for="city">Grad</label>
                <input type="text" class="form-control" ng-class="{'is-invalid': editEventForm.city.$invalid}" id="city" name="city"
                    aria-describedby="city" placeholder="city" ng-model="ctrl.editEvent.city" ng-required="true">
            </div>
            <div class="form-group">
                <label for="date">Datum</label>
                <input type="date" class="form-control" ng-class="{'is-invalid': editEventForm.date.$invalid}" id="date" name="date"
                    aria-describedby="date" placeholder="date" ng-model="ctrl.editEvent.date" ng-required="true">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" ng-disabled="editEventForm.$invalid" value="Izmeni">
                <button class="btn btn-danger" type="button" ng-click="ctrl.cancel()">Odustani</button>
            </div>
        </form>
    </div>
</div>